*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: 'Poppins',sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.2rem;
  background-image: -webkit-gradient(linear, left top, right top, from(cyan), color-stop(#3498db), to(#2980b9));
  background-image: linear-gradient(to right, cyan, #3498db, #2980b9);
  background-size: 300%;
  background-position: left;
  color: white;
  padding: 0.5rem 2rem;
  font-weight: bold;
  border-radius: 3rem;
  -webkit-animation: move 3s ease-in-out infinite alternate;
          animation: move 3s ease-in-out infinite alternate;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.btn:hover {
  -webkit-transform: scale(1.1) translateY(-3px);
          transform: scale(1.1) translateY(-3px);
  -webkit-box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
}

.btn:active {
  -webkit-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.text-primary {
  margin: 5rem 0 2rem 0;
  text-align: center;
  font-size: 2.5rem;
  color: white;
  font-weight: 300;
}

.text-primary--dark {
  color: black;
}

.text-primary-2 {
  font-size: 1.8rem;
  text-align: center;
  margin: 0.5rem;
}

@-webkit-keyframes move {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

@keyframes move {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

@-webkit-keyframes colored {
  0% {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
  100% {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}

@keyframes colored {
  0% {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
  100% {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}

.navbar {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logo {
  font-size: 2rem;
  background-image: -webkit-gradient(linear, left top, right top, from(cyan), color-stop(#3498db), to(#2980b9));
  background-image: linear-gradient(to right, cyan, #3498db, #2980b9);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-style: italic;
  position: relative;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.navbar__logo::first-letter {
  font-size: 2.5rem;
}

.navbar__logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .navbar__list {
    display: none;
  }
}

.navbar__link {
  margin-right: 2rem;
  font-weight: 300;
}

.navbar__link:hover {
  color: #3498db;
}

.navbar__mobile {
  display: none;
}

@media only screen and (max-width: 37.5em) {
  .navbar__mobile {
    display: inline-block;
  }
}

.navbar__burger {
  fill: #2980b9;
  width: 2.5rem;
  height: 2.5rem;
}

.header {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 90%;
  text-align: center;
}

.header__icon {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 3rem rgba(41, 128, 185, 0.5);
          box-shadow: 0 0 3rem rgba(41, 128, 185, 0.5);
  margin-top: 2rem;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  display: block;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-animation: colored 2s ease forwards 3s;
          animation: colored 2s ease forwards 3s;
}

.header__icon:hover {
  -webkit-transform: translateY(-5px) scale(1.1);
          transform: translateY(-5px) scale(1.1);
  -webkit-box-shadow: 0 0 5rem rgba(41, 128, 185, 0.5);
          box-shadow: 0 0 5rem rgba(41, 128, 185, 0.5);
}

.header__title {
  font-size: 3.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(cyan), color-stop(#3498db), to(#2980b9));
  background-image: linear-gradient(to right, cyan, #3498db, #2980b9);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 300%;
  background-position: left;
  margin-bottom: 2rem;
  -webkit-animation: fadeInUp 2s ease-in forwards ,move 5s ease 3s infinite alternate;
          animation: fadeInUp 2s ease-in forwards ,move 5s ease 3s infinite alternate;
}

.header__word {
  display: inline-block;
  font-size: 2rem;
  margin: 0 2rem;
  color: #2980b9;
  text-shadow: 3px 0.3rem 0 rgba(0, 0, 0, 0.1);
}

.header__wordicon {
  fill: currentColor;
}

.skills-section {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2980b9), color-stop(50%, #2980b9), color-stop(95%, #2980b9), to(white));
  background-image: linear-gradient(to bottom, #2980b9 0%, #2980b9 50%, #2980b9 95%, white);
}

.wave {
  background-color: white;
  fill: #2980b9;
}

.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  text-align: center;
}

.skills__desc {
  font-size: 1.2rem;
  color: white;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 37.5em) {
  .skills__desc {
    width: 100%;
  }
}

.skill__icon {
  fill: white;
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 1rem;
}

.skill__title {
  font-size: 1.6rem;
  color: white;
  font-weight: 300;
  margin-bottom: 1rem;
}

.skill__desc {
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.836);
}

.wave2 {
  background-color: #2980b9;
}

.featured-works {
  background-color: white;
  position: relative;
  z-index: 10;
  margin-top: -1rem;
  padding-top: 3rem;
}

.featured-works .text-primary {
  margin-top: 0;
}

.works {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(21rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  grid-gap: 2rem;
  justify-items: center;
  margin-bottom: 2rem;
}

.work {
  width: 21rem;
  -webkit-box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.work__cover {
  overflow: hidden;
}

.work__img {
  width: 100%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.work__title {
  background-image: -webkit-gradient(linear, left top, right top, from(cyan), color-stop(#3498db), to(#2980b9));
  background-image: linear-gradient(to right, cyan, #3498db, #2980b9);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.work__used {
  background-color: crimson;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

.work__btn {
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 0 !important;
  -webkit-animation: none !important;
          animation: none !important;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  background-position: right !important;
}

.work__btn:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: none;
          box-shadow: none;
  background-position: left !important;
}

.work__link {
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work__git {
  fill: #3498db;
}

.work:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 0 0.3rem 3rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.3rem 3rem rgba(0, 0, 0, 0.5);
}

.work:hover .work__cover .work__img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.footer {
  background-color: #2980b9;
  padding: 4rem 0;
  margin-top: -1rem;
  position: relative;
  z-index: 10;
  text-align: center;
  color: white;
}

.footer .container {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1rem;
}

.footer__title {
  letter-spacing: 2px;
}

.footer__desc {
  font-size: 1.2rem;
}

.footer__icon {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 1px solid white;
  padding: 3px;
  fill: white;
  border-radius: 2px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.footer__icon:hover {
  fill: #2980b9;
  background-color: white;
}

.footer__links {
  width: 17rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__copyright {
  font-size: 0.8rem;
}
/*# sourceMappingURL=main.css.map */